table{
  /*border: 5px solid purple;
  border-collapse: collapse;*/
  width: 35%;
}

td{
  /*border: 3px solid purple;*/
  text-align: center;
  height: 30px;
  width: 30px;
}

.cabecera{
  padding: 3px;
  /*border: 3px solid black ;*/
  text-align: center;
  font-weight: bold;
  background-color: purple;
  color: pink;

}
/*.par{
  background-color: magenta;

}*/
.fondo{
  background-image: url("fondo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
img{
  width:100px;
  height:150px;
}
